<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-vehicles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Vehicles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'vehicles' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'vehicles' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'vehicles' %}" class="dropdown-item ">All Vehicles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="supercars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supercars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'vehicles' %}?category=supercars" class="dropdown-item">By Price</a>
                <a href="{% url 'vehicles' %}?category=supercars" class="dropdown-item ">By Rating</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="luxury-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Luxury
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'vehicles' %}?category=luxury" class="dropdown-item">By Price</a>
                <a href="{% url 'vehicles' %}?category=luxury" class="dropdown-item ">By Rating</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="suv-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SUV
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'vehicles' %}?category=suv" class="dropdown-item">By Price</a>
                <a href="{% url 'vehicles' %}?category=suv" class="dropdown-item ">By Rating</a>
            </div>
        </li>
    </ul>
</div> 